@page
@model AboutModel
@{
    ViewData["Title"] = "About this site";
}
<h1>@ViewData["Title"]</h1>


<p>This is an example site for LinkedIn Learning courses.  <em>Big Star Collectibles</em> is a example brand created for our courses. </p>
